<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<body class="container text-center">
<h1>Password Generator </h1>
<form action="{%url 'password'%}">

    <select name="length">
        <option value="11">11 </option>    
        <option value="12" selected="selected">12</option> 
    </select>

<input type="checkbox" name="uppercase">UpperCase</input>
<input type="checkbox" name="special">Special</input>
<input type="checkbox" name="numbers">Numbers</input>
<br/>
<input type="submit"></input>
</form>

</body>
</html>